<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="../../assets/foto_icono.png" alt="Logo">
      <span class="ms-3">PLAN FENIX</span>
    </mat-toolbar>



    

      <a mat-list-item routerLink="mision">
        <i class="fa-solid fa-bullseye me-2"></i>
        Misión
      </a>

      <a mat-list-item routerLink="resultados">
        <i class="fa-solid fa-clipboard-check me-2"></i>
        Resultados
      </a>

      <a mat-list-item routerLink="tareas">
        <i class="fa-solid fa-clipboard-list me-2"></i>
        Tareas
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="p-4">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
